fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
pydantic==2.5.0
pymilvus==2.5.14
torch
transformers==4.52.4
Pillow
faiss-cpu
elasticsearch
torchvision
timm==0.4.12
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
ftfy
opencv-python
sentencepiece
pyarrow
torchmetrics==0.7.3
transformers==4.52.4
pycocotools
pycocoevalcap
torchscale==0.2.0
